<a href="https://colab.research.google.com/github/hkoenicke/UCDPA_HeikeKoenicke/blob/main/WeatherData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
# Import packages

import requests
from bs4 import BeautifulSoup
import re
from urllib.request import urlopen
from io import BytesIO
from zipfile import ZipFile
import fnmatch
import os.path
import datetime

# Data Analysis
import pandas as pd
import numpy as np

# Data Visualisation
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path_dwd = 'https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/daily/kl/'
url_weather_stations = path_dwd + 'historical/KL_Tageswerte_Beschreibung_Stationen.txt'

In [4]:
# read information about weather stations from the website into a pandas data frame
df_weather_stations = pd.DataFrame()
df_weather_stations = pd.read_fwf(url_weather_stations,
                               encoding='ISO-8859-1',
                               header=None,
                               skiprows=[0, 1],
                               names=['Station ID', 'First Date', 'Last Date',
                                   'Altitude', 'Latitude', 'Longitude',
                                   'Station Name', 'Federal State'])

# convert 'First Date' and 'Last Date' from int to datetime format
df_weather_stations[['First Date','Last Date']] = df_weather_stations[['First Date','Last Date']].apply(pd.to_datetime,format='%Y%m%d')

df_weather_stations.head()

,Station ID,First Date,Last Date,Altitude,Latitude,Longitude,Station Name,Federal State
0,1,1937-01-01,1986-06-30,478,47.8413,8.8493,Aach,Baden-Württemberg
1,3,1891-01-01,2011-03-31,202,50.7827,6.0941,Aachen,Nordrhein-Westfalen
2,11,1980-09-01,2020-09-30,680,47.9736,8.5205,Donaueschingen (Landeplatz),Baden-Württemberg
3,44,1969-01-01,2023-08-16,44,52.9336,8.2370,Großenkneten,Niedersachsen
4,52,1969-01-01,2001-12-31,46,53.6623,10.1990,Ahrensburg-Wulfsdorf,Schleswig-Holstein

In [23]:
df_weather_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1351 entries, 0 to 1350
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Station ID     1351 non-null   int64
 1   First Date     1351 non-null   datetime64[ns]
 2   Last Date      1351 non-null   datetime64[ns]
 3   Altitude       1351 non-null   int64
 4   Latitude       1351 non-null   float64
 5   Longitude      1351 non-null   float64
 6   Station Name   1351 non-null   object
 7   Federal State  1351 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(2), object(2)
memory usage: 84.6+ KB

In [5]:
# Get list of all zip files for historic data

page_info = requests.get(path_dwd +'historical').text

# read file names using regular expression
files = re.findall(r"(?<=href=\")tageswerte_KL_[0-9]+_[0-9]+_\w*\.zip",page_info)

# get station ids using regular expression
station_ids = re.findall(r"(?<=href=\"tageswerte_KL_)[0-9]+",page_info)
# convert to int
station_ids = [int(x) for x in station_ids]

# convert the two lists into a dictionary
station_file_names = {}
station_file_names = {station_ids[i]: files[i] for i in range(len(station_ids))}

print(station_file_names)

{1: 'tageswerte_KL_00001_19370101_19860630_hist.zip', 3: 'tageswerte_KL_00003_18910101_20110331_hist.zip', 11: 'tageswerte_KL_00011_19800901_20200930_hist.zip', 44: 'tageswerte_KL_00044_19690101_20221231_hist.zip', 52: 'tageswerte_KL_00052_19690101_20011231_hist.zip', 61: 'tageswerte_KL_00061_19750701_19780831_hist.zip', 70: 'tageswerte_KL_00070_19730601_19860930_hist.zip', 71: 'tageswerte_KL_00071_19861101_20191231_hist.zip', 72: 'tageswerte_KL_00072_19780901_19950531_hist.zip', 73: 'tageswerte_KL_00073_19590301_20221231_hist.zip', 78: 'tageswerte_KL_00078_19610101_20221231_hist.zip', 90: 'tageswerte_KL_00090_19880219_20221231_hist.zip', 91: 'tageswerte_KL_00091_19781101_20221231_hist.zip', 93: 'tageswerte_KL_00093_19771201_19781031_hist.zip', 96: 'tageswerte_KL_00096_20190409_20221231_hist.zip', 98: 'tageswerte_KL_00098_18870215_19541231_hist.zip', 102: 'tageswerte_KL_00102_19980101_20221231_hist.zip', 116: 'tageswerte_KL_00116_18990601_19730531_hist.zip', 125: 'tageswerte_KL_00125_19740301_20221231_hist.zip', 126: 'tageswerte_KL_00126_19791101_20101130_hist.zip', 129: 'tageswerte_KL_00129_19910101_20061231_hist.zip', 131: 'tageswerte_KL_00131_20041101_20221231_hist.zip', 132: 'tageswerte_KL_00132_19531211_19870930_hist.zip', 142: 'tageswerte_KL_00142_19550101_20221231_hist.zip', 150: 'tageswerte_KL_00150_19510101_20221231_hist.zip', 151: 'tageswerte_KL_00151_19470101_20221231_hist.zip', 154: 'tageswerte_KL_00154_19940101_20221231_hist.zip', 161: 'tageswerte_KL_00161_19801201_20221231_hist.zip', 164: 'tageswerte_KL_00164_19080517_20221231_hist.zip', 167: 'tageswerte_KL_00167_20040901_20221231_hist.zip', 169: 'tageswerte_KL_00169_19470101_19661231_hist.zip', 172: 'tageswerte_KL_00172_19690501_19911130_hist.zip', 174: 'tageswerte_KL_00174_19840301_19871231_hist.zip', 175: 'tageswerte_KL_00175_19520101_19760430_hist.zip', 177: 'tageswerte_KL_00177_19470501_19571031_hist.zip', 181: 'tageswerte_KL_00181_19991101_20081102_hist.zip', 183: 'tageswerte_KL_00183_19470101_20221231_hist.zip', 184: 'tageswerte_KL_00184_19470101_19660630_hist.zip', 185: 'tageswerte_KL_00185_19460101_19571231_hist.zip', 186: 'tageswerte_KL_00186_18800101_19980930_hist.zip', 191: 'tageswerte_KL_00191_19860401_20221231_hist.zip', 193: 'tageswerte_KL_00193_19680101_19971031_hist.zip', 197: 'tageswerte_KL_00197_19900801_20221231_hist.zip', 198: 'tageswerte_KL_00198_19540101_20221231_hist.zip', 202: 'tageswerte_KL_00202_19470101_19511231_hist.zip', 207: 'tageswerte_KL_00207_19470101_19641231_hist.zip', 211: 'tageswerte_KL_00211_19810901_19991231_hist.zip', 217: 'tageswerte_KL_00217_19410101_20221231_hist.zip', 221: 'tageswerte_KL_00221_19850801_19900531_hist.zip', 222: 'tageswerte_KL_00222_19770101_20221231_hist.zip', 231: 'tageswerte_KL_00231_18790101_19740430_hist.zip', 232: 'tageswerte_KL_00232_19470101_20221231_hist.zip', 243: 'tageswerte_KL_00243_19580901_20061231_hist.zip', 257: 'tageswerte_KL_00257_19490101_20221231_hist.zip', 259: 'tageswerte_KL_00259_19470101_20221231_hist.zip', 268: 'tageswerte_KL_00268_19540101_20081231_hist.zip', 273: 'tageswerte_KL_00273_19861201_19900430_hist.zip', 282: 'tageswerte_KL_00282_19490101_20221231_hist.zip', 283: 'tageswerte_KL_00283_19480101_19591231_hist.zip', 284: 'tageswerte_KL_00284_18790101_19581231_hist.zip', 288: 'tageswerte_KL_00288_19910101_19980831_hist.zip', 294: 'tageswerte_KL_00294_19920201_20221231_hist.zip', 298: 'tageswerte_KL_00298_19470101_20221231_hist.zip', 303: 'tageswerte_KL_00303_19930820_20221231_hist.zip', 314: 'tageswerte_KL_00314_19360101_20221231_hist.zip', 320: 'tageswerte_KL_00320_18790101_20221231_hist.zip', 326: 'tageswerte_KL_00326_20040701_20130708_hist.zip', 327: 'tageswerte_KL_00327_19620901_19961031_hist.zip', 330: 'tageswerte_KL_00330_19370101_20221231_hist.zip', 335: 'tageswerte_KL_00335_19761201_19771031_hist.zip', 342: 'tageswerte_KL_00342_20101201_20221231_hist.zip', 348: 'tageswerte_KL_00348_19891214_20110901_hist.zip', 355: 'tageswerte_KL_00355_19470101_19891031_hist.zip', 361: 'tageswerte_KL_00361_19480101_19981231_hist.zip', 365: 'tageswerte_KL_00365_19911001_20020930_hist.zip', 368: 'tageswerte_KL_00368_19730101_20221231_hist.zip', 377: 'tageswerte_KL_00377_19470101_20221231_hist.zip', 379: 'tageswerte_KL_00379_19540701_20221231_hist.zip', 386: 'tageswerte_KL_00386_19730701_19861130_hist.zip', 390: 'tageswerte_KL_00390_19861201_20221231_hist.zip', 395: 'tageswerte_KL_00395_19480701_19531231_hist.zip', 399: 'tageswerte_KL_00399_19750101_20150630_hist.zip', 400: 'tageswerte_KL_00400_19610101_20221231_hist.zip', 402: 'tageswerte_KL_00402_18760101_19621231_hist.zip', 403: 'tageswerte_KL_00403_19500101_20221231_hist.zip', 405: 'tageswerte_KL_00405_19510401_19541231_hist.zip', 407: 'tageswerte_KL_00407_19580101_19780331_hist.zip', 408: 'tageswerte_KL_00408_19481201_19511130_hist.zip', 410: 'tageswerte_KL_00410_19960601_20200615_hist.zip', 416: 'tageswerte_KL_00416_19820701_19960930_hist.zip', 417: 'tageswerte_KL_00417_19360101_19561031_hist.zip', 420: 'tageswerte_KL_00420_19930501_20221231_hist.zip', 422: 'tageswerte_KL_00422_19560101_19641231_hist.zip', 424: 'tageswerte_KL_00424_19540101_19801231_hist.zip', 425: 'tageswerte_KL_00425_19590101_19820630_hist.zip', 427: 'tageswerte_KL_00427_19570101_20221231_hist.zip', 429: 'tageswerte_KL_00429_19861001_19870131_hist.zip', 430: 'tageswerte_KL_00430_19630101_20210505_hist.zip', 432: 'tageswerte_KL_00432_19780401_19941231_hist.zip', 433: 'tageswerte_KL_00433_19480101_20221231_hist.zip', 434: 'tageswerte_KL_00434_19470101_19601231_hist.zip', 435: 'tageswerte_KL_00435_19640101_20061231_hist.zip', 445: 'tageswerte_KL_00445_18980101_20221231_hist.zip', 450: 'tageswerte_KL_00450_19450101_20121204_hist.zip', 460: 'tageswerte_KL_00460_19510101_20221231_hist.zip', 474: 'tageswerte_KL_00474_19590101_19860930_hist.zip', 480: 'tageswerte_KL_00480_19450101_20061231_hist.zip', 502: 'tageswerte_KL_00502_19670801_20061231_hist.zip', 524: 'tageswerte_KL_00524_19470101_19921231_hist.zip', 526: 'tageswerte_KL_00526_19510101_19751231_hist.zip', 535: 'tageswerte_KL_00535_19470101_20221231_hist.zip', 550: 'tageswerte_KL_00550_19940501_20020930_hist.zip', 553: 'tageswerte_KL_00553_19540101_19741231_hist.zip', 554: 'tageswerte_KL_00554_19470101_20060228_hist.zip', 555: 'tageswerte_KL_00555_19400101_20221231_hist.zip', 576: 'tageswerte_KL_00576_19870801_20031231_hist.zip', 578: 'tageswerte_KL_00578_19510301_19661231_hist.zip', 588: 'tageswerte_KL_00588_19920501_19960731_hist.zip', 591: 'tageswerte_KL_00591_19470101_20221231_hist.zip', 592: 'tageswerte_KL_00592_19460101_19621231_hist.zip', 596: 'tageswerte_KL_00596_19470101_20221231_hist.zip', 598: 'tageswerte_KL_00598_19490101_19570831_hist.zip', 599: 'tageswerte_KL_00599_19321001_19990301_hist.zip', 603: 'tageswerte_KL_00603_19860801_20221231_hist.zip', 606: 'tageswerte_KL_00606_19500101_19540731_hist.zip', 614: 'tageswerte_KL_00614_19510101_20071231_hist.zip', 617: 'tageswerte_KL_00617_20040601_20221231_hist.zip', 619: 'tageswerte_KL_00619_19470101_20221231_hist.zip', 642: 'tageswerte_KL_00642_19660101_20221231_hist.zip', 643: 'tageswerte_KL_00643_19931101_19941231_hist.zip', 645: 'tageswerte_KL_00645_19470101_19520131_hist.zip', 648: 'tageswerte_KL_00648_19630501_20061231_hist.zip', 650: 'tageswerte_KL_00650_19480701_20010430_hist.zip', 652: 'tageswerte_KL_00652_19490101_19580731_hist.zip', 656: 'tageswerte_KL_00656_19310101_20221231_hist.zip', 660: 'tageswerte_KL_00660_19480101_19601231_hist.zip', 661: 'tageswerte_KL_00661_18910101_19531231_hist.zip', 662: 'tageswerte_KL_00662_19610101_20221231_hist.zip', 685: 'tageswerte_KL_00685_19980112_20061101_hist.zip', 691: 'tageswerte_KL_00691_18900101_20221231_hist.zip', 699: 'tageswerte_KL_00699_19490101_19580630_hist.zip', 701: 'tageswerte_KL_00701_19490101_20221231_hist.zip', 702: 'tageswerte_KL_00702_19480101_19600630_hist.zip', 703: 'tageswerte_KL_00703_19370101_19850531_hist.zip', 704: 'tageswerte_KL_00704_19790401_20221231_hist.zip', 705: 'tageswerte_KL_00705_19850601_20061231_hist.zip', 706: 'tageswerte_KL_00706_19690901_20041231_hist.zip', 710: 'tageswerte_KL_00710_19831101_20031231_hist.zip', 717: 'tageswerte_KL_00717_19370101_20040630_hist.zip', 722: 'tageswerte_KL_00722_18960101_20221231_hist.zip', 727: 'tageswerte_KL_00727_19580101_19861231_hist.zip', 729: 'tageswerte_KL_00729_19450101_19900131_hist.zip', 736: 'tageswerte_KL_00736_19350101_19991231_hist.zip', 755: 'tageswerte_KL_00755_19350101_20221231_hist.zip', 757: 'tageswerte_KL_00757_19901001_20221231_hist.zip', 760: 'tageswerte_KL_00760_19760601_20221231_hist.zip', 766: 'tageswerte_KL_00766_19650101_20221231_hist.zip', 769: 'tageswerte_KL_00769_19720101_20221231_hist.zip', 771: 'tageswerte_KL_00771_19470101_19551231_hist.zip', 772: 'tageswerte_KL_00772_19470101_19860430_hist.zip', 773: 'tageswerte_KL_00773_19860501_20041231_hist.zip', 788: 'tageswerte_KL_00788_19650101_20221231_hist.zip', 793: 'tageswerte_KL_00793_19920101_19941031_hist.zip', 807: 'tageswerte_KL_00807_19410101_20061231_hist.zip', 817: 'tageswerte_KL_00817_19521001_20221231_hist.zip', 833: 'tageswerte_KL_00833_19720501_20010430_hist.zip', 840: 'tageswerte_KL_00840_19891201_20221231_hist.zip', 848: 'tageswerte_KL_00848_19400101_19781231_hist.zip', 850: 'tageswerte_KL_00850_19740801_20221231_hist.zip', 851: 'tageswerte_KL_00851_19480201_19960430_hist.zip', 853: 'tageswerte_KL_00853_18820101_20221231_hist.zip', 856: 'tageswerte_KL_00856_19980101_20221231_hist.zip', 863: 'tageswerte_KL_00863_18900101_20120331_hist.zip', 865: 'tageswerte_KL_00865_19600101_19710228_hist.zip', 867: 'tageswerte_KL_00867_19470101_20221231_hist.zip', 876: 'tageswerte_KL_00876_19460801_19881231_hist.zip', 879: 'tageswerte_KL_00879_20000701_20030331_hist.zip', 880: 'tageswerte_KL_00880_18870101_20221231_hist.zip', 881: 'tageswerte_KL_00881_19500101_20031231_hist.zip', 888: 'tageswerte_KL_00888_19650101_19911216_hist.zip', 891: 'tageswerte_KL_00891_19460101_20221231_hist.zip', 896: 'tageswerte_KL_00896_19490701_20221231_hist.zip', 917: 'tageswerte_KL_00917_19950801_20221231_hist.zip', 918: 'tageswerte_KL_00918_19871001_19950731_hist.zip', 919: 'tageswerte_KL_00919_19370203_19740731_hist.zip', 920: 'tageswerte_KL_00920_19490101_19870930_hist.zip', 931: 'tageswerte_KL_00931_19890801_20031231_hist.zip', 948: 'tageswerte_KL_00948_19470101_19501231_hist.zip', 953: 'tageswerte_KL_00953_19500801_20221231_hist.zip', 954: 'tageswerte_KL_00954_19980101_20221121_hist.zip', 963: 'tageswerte_KL_00963_19520901_20221231_hist.zip', 964: 'tageswerte_KL_00964_19520101_19621231_hist.zip', 965: 'tageswerte_KL_00965_19480601_19900630_hist.zip', 970: 'tageswerte_KL_00970_19850401_19990630_hist.zip', 979: 'tageswerte_KL_00979_19470801_20221231_hist.zip', 982: 'tageswerte_KL_00982_19470501_20061130_hist.zip', 983: 'tageswerte_KL_00983_20061201_20221231_hist.zip', 991: 'tageswerte_KL_00991_19540901_20221231_hist.zip', 998: 'tageswerte_KL_00998_19480101_20090201_hist.zip', 1000: 'tageswerte_KL_01000_19910701_19970831_hist.zip', 1001: 'tageswerte_KL_01001_19480701_20221231_hist.zip', 1003: 'tageswerte_KL_01003_19460501_19751231_hist.zip', 1006: 'tageswerte_KL_01006_18980810_19610930_hist.zip', 1010: 'tageswerte_KL_01010_19870401_20080923_hist.zip', 1011: 'tageswerte_KL_01011_19901011_20221231_hist.zip', 1013: 'tageswerte_KL_01013_19800401_20221231_hist.zip', 1018: 'tageswerte_KL_01018_19510101_20041231_hist.zip', 1032: 'tageswerte_KL_01032_19500101_19990930_hist.zip', 1047: 'tageswerte_KL_01047_18280101_19151231_hist.zip', 1048: 'tageswerte_KL_01048_19340101_20221231_hist.zip', 1050: 'tageswerte_KL_01050_19490101_20221231_hist.zip', 1051: 'tageswerte_KL_01051_19360101_20221231_hist.zip', 1052: 'tageswerte_KL_01052_19930501_20221231_hist.zip', 1053: 'tageswerte_KL_01053_19370101_20030731_hist.zip', 1066: 'tageswerte_KL_01066_19630101_19761231_hist.zip', 1072: 'tageswerte_KL_01072_19520101_20221231_hist.zip', 1073: 'tageswerte_KL_01073_19360101_19521231_hist.zip', 1074: 'tageswerte_KL_01074_19470401_19730228_hist.zip', 1076: 'tageswerte_KL_01076_19360801_20081231_hist.zip', 1078: 'tageswerte_KL_01078_19520101_20221231_hist.zip', 1079: 'tageswerte_KL_01079_19350101_19960731_hist.zip', 1084: 'tageswerte_KL_01084_19940501_20070531_hist.zip', 1087: 'tageswerte_KL_01087_19510101_19931231_hist.zip', 1091: 'tageswerte_KL_01091_19511001_20071231_hist.zip', 1093: 'tageswerte_KL_01093_19510101_20051031_hist.zip', 1102: 'tageswerte_KL_01102_19871101_20021231_hist.zip', 1103: 'tageswerte_KL_01103_19780101_20221231_hist.zip', 1106: 'tageswerte_KL_01106_19470101_19501231_hist.zip', 1107: 'tageswerte_KL_01107_19630101_20221231_hist.zip', 1130: 'tageswerte_KL_01130_19720401_20050131_hist.zip', 1146: 'tageswerte_KL_01146_19850701_19870731_hist.zip', 1154: 'tageswerte_KL_01154_19450101_19660930_hist.zip', 1161: 'tageswerte_KL_01161_19550101_20221231_hist.zip', 1169: 'tageswerte_KL_01169_19760201_19990930_hist.zip', 1172: 'tageswerte_KL_01172_19510101_19891130_hist.zip', 1182: 'tageswerte_KL_01182_19470101_20010531_hist.zip', 1188: 'tageswerte_KL_01188_19470101_19740831_hist.zip', 1197: 'tageswerte_KL_01197_19410101_20221231_hist.zip', 1200: 'tageswerte_KL_01200_19980101_20221231_hist.zip', 1201: 'tageswerte_KL_01201_19470701_20001231_hist.zip', 1204: 'tageswerte_KL_01204_19490101_19651231_hist.zip', 1207: 'tageswerte_KL_01207_19480601_20221231_hist.zip', 1214: 'tageswerte_KL_01214_19871101_20221231_hist.zip', 1219: 'tageswerte_KL_01219_19470101_19980310_hist.zip', 1221: 'tageswerte_KL_01221_19500301_19741231_hist.zip', 1224: 'tageswerte_KL_01224_19751101_20221231_hist.zip', 1228: 'tageswerte_KL_01228_20000701_20220518_hist.zip', 1229: 'tageswerte_KL_01229_19470101_19970331_hist.zip', 1238: 'tageswerte_KL_01238_19510101_19960930_hist.zip', 1239: 'tageswerte_KL_01239_19860801_20080923_hist.zip', 1243: 'tageswerte_KL_01243_19760101_19850930_hist.zip', 1246: 'tageswerte_KL_01246_20150801_20221231_hist.zip', 1254: 'tageswerte_KL_01254_19470701_20021130_hist.zip', 1255: 'tageswerte_KL_01255_20021201_20221231_hist.zip', 1261: 'tageswerte_KL_01261_19690101_19920731_hist.zip', 1262: 'tageswerte_KL_01262_19920517_20221231_hist.zip', 1266: 'tageswerte_KL_01266_19640501_20221231_hist.zip', 1270: 'tageswerte_KL_01270_19510101_20221231_hist.zip', 1275: 'tageswerte_KL_01275_19670401_19801231_hist.zip', 1276: 'tageswerte_KL_01276_19800801_20021231_hist.zip', 1279: 'tageswerte_KL_01279_19490101_20221231_hist.zip', 1280: 'tageswerte_KL_01280_19470401_19531231_hist.zip', 1287: 'tageswerte_KL_01287_19911201_20060831_hist.zip', 1292: 'tageswerte_KL_01292_19670101_20060430_hist.zip', 1297: 'tageswerte_KL_01297_19470901_20221231_hist.zip', 1299: 'tageswerte_KL_01299_19790901_19991031_hist.zip', 1300: 'tageswerte_KL_01300_19380101_20221231_hist.zip', 1303: 'tageswerte_KL_01303_19350101_20221231_hist.zip', 1327: 'tageswerte_KL_01327_19370101_20221231_hist.zip', 1329: 'tageswerte_KL_01329_19360101_20031231_hist.zip', 1332: 'tageswerte_KL_01332_19660701_20221231_hist.zip', 1339: 'tageswerte_KL_01339_19710101_20221231_hist.zip', 1341: 'tageswerte_KL_01341_20081201_20110929_hist.zip', 1345: 'tageswerte_KL_01345_19470301_19621231_hist.zip', 1346: 'tageswerte_KL_01346_19450101_20221231_hist.zip', 1357: 'tageswerte_KL_01357_19480101_20221231_hist.zip', 1358: 'tageswerte_KL_01358_18900801_20221231_hist.zip', 1359: 'tageswerte_KL_01359_19820101_19921126_hist.zip', 1374: 'tageswerte_KL_01374_19490112_19720430_hist.zip', 1378: 'tageswerte_KL_01378_19850701_20061231_hist.zip', 1379: 'tageswerte_KL_01379_19570101_20221231_hist.zip', 1380: 'tageswerte_KL_01380_19410101_19561231_hist.zip', 1392: 'tageswerte_KL_01392_19871001_20061231_hist.zip', 1403: 'tageswerte_KL_01403_19650401_19801031_hist.zip', 1410: 'tageswerte_KL_01410_19540701_19970331_hist.zip', 1411: 'tageswerte_KL_01411_19491001_20221231_hist.zip', 1415: 'tageswerte_KL_01415_19760601_19881231_hist.zip', 1416: 'tageswerte_KL_01416_19840401_19871231_hist.zip', 1420: 'tageswerte_KL_01420_19490101_20221231_hist.zip', 1421: 'tageswerte_KL_01421_19611201_19840831_hist.zip', 1422: 'tageswerte_KL_01422_19730801_19890430_hist.zip', 1423: 'tageswerte_KL_01423_19720501_19871231_hist.zip', 1424: 'tageswerte_KL_01424_19851101_20221231_hist.zip', 1425: 'tageswerte_KL_01425_18700101_19621231_hist.zip', 1426: 'tageswerte_KL_01426_19470101_19841231_hist.zip', 1428: 'tageswerte_KL_01428_19480101_19571231_hist.zip', 1440: 'tageswerte_KL_01440_19710501_20031231_hist.zip', 1441: 'tageswerte_KL_01441_19450701_19930430_hist.zip', 1443: 'tageswerte_KL_01443_18740101_20221231_hist.zip', 1447: 'tageswerte_KL_01447_19470101_19850630_hist.zip', 1451: 'tageswerte_KL_01451_19701101_20221231_hist.zip', 1467: 'tageswerte_KL_01467_19480101_20091231_hist.zip', 1468: 'tageswerte_KL_01468_19490101_20221231_hist.zip', 1473: 'tageswerte_KL_01473_20060101_20190228_hist.zip', 1488: 'tageswerte_KL_01488_19470101_19721231_hist.zip', 1490: 'tageswerte_KL_01490_19470101_20221231_hist.zip', 1492: 'tageswerte_KL_01492_19580101_20031231_hist.zip', 1503: 'tageswerte_KL_01503_19470201_20221231_hist.zip', 1504: 'tageswerte_KL_01504_20000701_20221231_hist.zip', 1505: 'tageswerte_KL_01505_19750101_20071031_hist.zip', 1513: 'tageswerte_KL_01513_19470101_19621130_hist.zip', 1515: 'tageswerte_KL_01515_19690101_20030731_hist.zip', 1522: 'tageswerte_KL_01522_19470601_19550331_hist.zip', 1526: 'tageswerte_KL_01526_18850101_20221231_hist.zip', 1544: 'tageswerte_KL_01544_19470101_20221231_hist.zip', 1550: 'tageswerte_KL_01550_19360101_20221231_hist.zip', 1552: 'tageswerte_KL_01552_19951101_19960430_hist.zip', 1568: 'tageswerte_KL_01568_19580501_19821231_hist.zip', 1580: 'tageswerte_KL_01580_18840701_20221231_hist.zip', 1583: 'tageswerte_KL_01583_19470101_19701231_hist.zip', 1584: 'tageswerte_KL_01584_20090601_20221231_hist.zip', 1586: 'tageswerte_KL_01586_19610701_19680430_hist.zip', 1587: 'tageswerte_KL_01587_19980101_20221231_hist.zip', 1590: 'tageswerte_KL_01590_19631001_20221231_hist.zip', 1593: 'tageswerte_KL_01593_19350101_19740430_hist.zip', 1602: 'tageswerte_KL_01602_19700101_20221231_hist.zip', 1605: 'tageswerte_KL_01605_19530101_20221231_hist.zip', 1612: 'tageswerte_KL_01612_19520101_20221231_hist.zip', 1617: 'tageswerte_KL_01617_19520101_20071231_hist.zip', 1619: 'tageswerte_KL_01619_19560101_20051231_hist.zip', 1621: 'tageswerte_KL_01621_19490101_19631231_hist.zip', 1638: 'tageswerte_KL_01638_19490101_19840430_hist.zip', 1639: 'tageswerte_KL_01639_19390101_20221231_hist.zip', 1645: 'tageswerte_KL_01645_19490101_20221231_hist.zip', 1666: 'tageswerte_KL_01666_19710101_20221231_hist.zip', 1667: 'tageswerte_KL_01667_19480101_20061231_hist.zip', 1684: 'tageswerte_KL_01684_18600101_20221231_hist.zip', 1689: 'tageswerte_KL_01689_19360101_20040630_hist.zip', 1691: 'tageswerte_KL_01691_19270101_20221231_hist.zip', 1694: 'tageswerte_KL_01694_19470101_20221231_hist.zip', 1709: 'tageswerte_KL_01709_19520101_19901231_hist.zip', 1721: 'tageswerte_KL_01721_19910101_20221231_hist.zip', 1735: 'tageswerte_KL_01735_19951201_20221231_hist.zip', 1736: 'tageswerte_KL_01736_19510101_20221231_hist.zip', 1748: 'tageswerte_KL_01748_19360101_20050331_hist.zip', 1757: 'tageswerte_KL_01757_18980301_20221231_hist.zip', 1758: 'tageswerte_KL_01758_19470101_19771231_hist.zip', 1759: 'tageswerte_KL_01759_19470801_20221231_hist.zip', 1762: 'tageswerte_KL_01762_18970101_20061231_hist.zip', 1766: 'tageswerte_KL_01766_19820101_20221231_hist.zip', 1792: 'tageswerte_KL_01792_20200814_20221231_hist.zip', 1803: 'tageswerte_KL_01803_19670101_20221231_hist.zip', 1831: 'tageswerte_KL_01831_19830901_20040827_hist.zip', 1832: 'tageswerte_KL_01832_19821101_20221231_hist.zip', 1833: 'tageswerte_KL_01833_19470101_19821031_hist.zip', 1834: 'tageswerte_KL_01834_19510101_19780630_hist.zip', 1844: 'tageswerte_KL_01844_19590101_19811231_hist.zip', 1849: 'tageswerte_KL_01849_19490101_19601231_hist.zip', 1863: 'tageswerte_KL_01863_19950301_20221231_hist.zip', 1869: 'tageswerte_KL_01869_19730101_20221231_hist.zip', 1875: 'tageswerte_KL_01875_19510101_20021231_hist.zip', 

![image.png]()

In [5]:
# Process zip files

# create data list for climate data
weather_list =  []
for id in station_ids:
  for category in ['historical','recent']:
    if category == 'historical':
      url = path_dwd + 'historical/' + station_file_names[id]
    else:
      url = path_dwd + 'recent/tageswerte_KL_' + str(id).zfill(5) + '_akt.zip'

    try:
      # open zip file
      zf = ZipFile(BytesIO(urlopen(url).read()))

      # find csv file starting with 'produkt'
      csv_file_name = fnmatch.filter(zf.namelist(),'produkt*.txt')

      # open zipped csv file
      file_csv = zf.open(*csv_file_name)

      # read specific columns and append it to the weather list
      weather_list.append(pd.read_csv(file_csv,sep=';',usecols=['STATIONS_ID',
                                                                'MESS_DATUM',
                                                                '  FX',# daily max. windgust
                                                                '  FM',# daily mean wind velocity
                                                                ' RSK',# daily precipitation height
                                                                'RSKF',# precipitation form
                                                                ' SDK',# daily sunshine duration
                                                                'SHK_TAG',# daily snow depth
                                                                '  NM',# daily mean cloud cover
                                                                ' VPM',# daily mean vapor pressure
                                                                '  PM',# daily mean pressure
                                                                ' TMK',# daily mean temperature
                                                                ' UPM',# daily mean of relative humidity
                                                                ' TXK',# daily max. temperature at 2m height
                                                                ' TNK',# daily min. temperature at 2m height
                                                                ' TGK',# daily min. air temperature at 5cm above ground
                                                                'QN_3',# quality level FX & FM
                                                                'QN_4'],# quality level rest
                                      parse_dates=['MESS_DATUM']))

      # close txt.file and zip file
      file_csv.close()
      zf.close()

    except IOError: # ignore
      pass

# create pandas data frame with weather list
weather = pd.concat(weather_list)
# rename columns
weather = weather.rename(columns={'STATIONS_ID': 'Station ID',
                                  'MESS_DATUM': 'Date',
                                  '  FX': 'WindGustMax',
                                  '  FM': 'WindSpeed',
                                  ' RSK': 'Precipitation',
                                  'RSKF': 'PrecipitationForm',
                                  ' SDK': 'SunshineDuration',
                                  'SHK_TAG': 'SnowDepth',
                                  '  NM': 'Clouds',
                                  ' VPM': 'VaporPressure',
                                  '  PM': 'Pressure',
                                  ' TMK': 'Temperature',
                                  ' UPM': 'Humidity',
                                  ' TXK': 'TempMax',
                                  ' TNK': 'TempMin',
                                  ' TGK': 'TempMinGround',})
# replace missing values
weather = (weather.replace(-999.0,np.nan))

In [6]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17910093 entries, 0 to 7364
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   Station             int64
 1   Date                datetime64[ns]
 2   QN_3                float64
 3   Wind_gust_max       float64
 4   Wind_speed          float64
 5   QN_4                float64
 6   Precipitation       float64
 7   Precipitation_form  float64
 8   Sunshine            float64
 9   Snow                float64
 10  Clouds              float64
 11  Temperature         float64
 12  Humidity            float64
 13  Max_temp            float64
 14  Min_temp            float64
 15  Min_temp_ground     float64
dtypes: datetime64[ns](1), float64(14), int64(1)
memory usage: 2.3 GB

In [7]:
# save in csv file to Google Drive
weather.to_csv('/content/drive/MyDrive/climate_data.csv.gz', index=False, compression='gzip')

# download to local drive
from google.colab import files
files.download("climate_data.csv.gz")

In [ ]:
weather.info()
weather.describe()

ERROR:root:Did not find quickchart key chart-55bd5f30-ff1d-42a3-a047-7195ea23c57f in chart cache

In [10]:
weather.head()

,Station,Date,QN_3,Wind_gust_max,Wind_speed,QN_4,Precipitation,Precipitation_form,Sunshine,Snow,Clouds,Temperature,Humidity,Max_temp,Min_temp,Min_temp_ground
0,1,1937-01-01,NaN,NaN,NaN,5.0,0.0,0.0,NaN,0.0,6.3,-0.5,NaN,2.5,-1.6,NaN
1,1,1937-01-02,NaN,NaN,NaN,5.0,0.0,0.0,NaN,0.0,3.0,0.3,NaN,5.0,-4.0,NaN
2,1,1937-01-03,NaN,NaN,NaN,5.0,0.0,0.0,NaN,0.0,4.3,3.2,NaN,5.0,-0.2,NaN
3,1,1937-01-04,NaN,NaN,NaN,5.0,0.0,0.0,NaN,0.0,8.0,0.2,NaN,3.8,-0.2,NaN
4,1,1937-01-05,NaN,NaN,NaN,5.0,0.0,0.0,NaN,0.0,8.0,1.4,NaN,4.5,-0.7,NaN

In [1]:
# upload file
from google.colab import files
uploaded = files.upload()

Saving climate_data.csv.gz to climate_data.csv.gz

In [6]:
# read data into a pandas data frame
#df_climate = pd.read_csv(r"./climate_data.csv.gz")
df_climate = pd.read_csv(r"/content/drive/MyDrive/climate_data.csv.gz")

In [7]:
df_climate.info()
df_climate.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17910093 entries, 0 to 17910092
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   Station             int64
 1   Date                object
 2   QN_3                float64
 3   Wind_gust_max       float64
 4   Wind_speed          float64
 5   QN_4                float64
 6   Precipitation       float64
 7   Precipitation_form  float64
 8   Sunshine            float64
 9   Snow                float64
 10  Clouds              float64
 11  Temperature         float64
 12  Humidity            float64
 13  Max_temp            float64
 14  Min_temp            float64
 15  Min_temp_ground     float64
dtypes: float64(14), int64(1), object(1)
memory usage: 2.1+ GB

,Station,QN_3,Wind_gust_max,Wind_speed,QN_4,Precipitation,Precipitation_form,Sunshine,Snow,Clouds,Temperature,Humidity,Max_temp,Min_temp,Min_temp_ground
count,1.791009e+07,5.250438e+06,4.821853e+06,5.128318e+06,1.671785e+07,1.635713e+07,1.630548e+07,8.001115e+06,1.460077e+07,1.421838e+07,1.662726e+07,1.595120e+07,1.632795e+07,1.632766e+07,1.367523e+07
mean,3.328422e+03,8.341795e+00,1.065256e+01,3.679027e+00,6.535743e+00,2.197533e+00,2.375860e+00,4.485629e+00,2.355336e+00,5.352033e+00,8.669860e+00,7.897881e+01,1.294061e+01,4.634678e+00,3.330440e+00
std,2.690956e+03,2.605082e+00,4.826327e+00,2.388846e+00,3.187962e+00,4.876527e+00,2.841201e+00,4.284912e+00,1.558526e+01,2.389017e+00,7.518564e+00,1.200105e+01,8.790770e+00,6.805426e+00,6.801924e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-3.310000e+01,2.000000e+00,-3.150000e+01,-3.630000e+01,-3.910000e+01
25%,1.447000e+03,5.000000e+00,7.200000e+00,2.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00,3.000000e-01,0.000000e+00,3.700000e+00,3.100000e+00,7.100000e+01,6.100000e+00,0.000000e+00,-1.100000e+00
50%,3.031000e+03,1.000000e+01,9.800000e+00,3.100000e+00,5.000000e+00,0.000000e+00,1.000000e+00,3.500000e+00,0.000000e+00,6.000000e+00,8.800000e+00,8.100000e+01,1.300000e+01,4.900000e+00,3.500000e+00
75%,4.625000e+03,1.000000e+01,1.300000e+01,4.700000e+00,1.000000e+01,2.200000e+00,6.000000e+00,7.700000e+00,0.000000e+00,7.400000e+00,1.460000e+01,8.800000e+01,1.970000e+01,1.000000e+01,8.500000e+00
max,1.963100e+04,1.000000e+01,9.300000e+01,3.490000e+01,1.000000e+01,3.120000e+02,8.000000e+00,1.900000e+01,7.800000e+02,1.000000e+01,3.240000e+01,1.010000e+02,4.120000e+01,2.620000e+01,2.540000e+01

In [17]:
# change date from object to datetime
df_climate['Date'] = pd.to_datetime(df_climate['Date'])
df_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17910093 entries, 0 to 17910092
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   Station             int64
 1   Date                datetime64[ns]
 2   QN_3                float64
 3   Wind_gust_max       float64
 4   Wind_speed          float64
 5   QN_4                float64
 6   Precipitation       float64
 7   Precipitation_form  float64
 8   Sunshine            float64
 9   Snow                float64
 10  Clouds              float64
 11  Temperature         float64
 12  Humidity            float64
 13  Max_temp            float64
 14  Min_temp            float64
 15  Min_temp_ground     float64
dtypes: datetime64[ns](1), float64(14), int64(1)
memory usage: 2.1 GB

In [8]:
# calculate from/to date for each station
station_dates = df_climate.groupby('Station')['Date'].aggregate(['min','max']).reset_index()
print(station_dates)

      Station         min         max
0           1  1937-01-01  1986-06-30
1           3  1891-01-01  2011-03-31
2          11  1980-09-01  2020-09-30
3          44  1969-01-01  2023-08-14
4          52  1973-01-01  2001-12-31
...       ...         ...         ...
1245    19579  1971-01-01  2005-10-31
1246    19580  1975-01-01  2005-12-31
1247    19581  1974-06-01  2005-03-31
1248    19582  1951-01-01  2001-08-31
1249    19631  1948-05-01  1969-12-31

[1250 rows x 3 columns]

In [9]:
# rename column name Station to Station ID --> shouldn't be necessary when everything is re-run
station_dates.rename(columns={'Station':'Station ID'},inplace=True)
df = pd.merge(df_weather_stations,station_dates,on='Station ID', how='outer')

In [10]:
# Stations without data
df[df['max'].isnull()]

,Station ID,First Date,Last Date,Altitude,Latitude,Longitude,Station Name,Federal State,min,max
17,106,1971-01-01,2006-12-01,500.0,51.7976,10.4429,Altenau,Niedersachsen,NaN,NaN
35,176,1976-06-01,1995-11-30,481.0,49.2475,10.5826,Ansbach-Claffheim,Bayern,NaN,NaN
68,321,1979-01-01,1995-10-31,789.0,47.6797,12.0017,Bayrischzell,Bayern,NaN,NaN
73,341,1968-02-01,1993-01-31,235.0,47.7277,7.5520,"Bellingen, Bad",Baden-Württemberg,NaN,NaN
76,350,1999-06-01,1999-12-31,540.0,51.6715,10.7268,Benneckenstein,Sachsen-Anhalt,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1345,19617,1941-01-01,2006-12-31,310.0,49.7391,10.6039,Burghaslach,Bayern,NaN,NaN
1347,19647,1951-01-01,2005-10-31,178.0,49.4547,8.9794,Eberbach/Neckar,Baden-Württemberg,NaN,NaN
1348,19774,1971-08-19,1994-02-28,174.0,51.4814,10.8057,Nordhausen (Umspannwerk),Thüringen,NaN,NaN
1349,19781,1941-01-01,1953-12-31,367.0,48.7429,11.4233,Ingolstadt,Bayern,NaN,NaN
1350,19794,1947-01-01,1954-12-31,370.0,49.4415,11.8529,Amberg (Mariahilfberg),Bayern,NaN,NaN

In [11]:
# check if there are stations which are not in the list of stations
df[df['First Date'].isnull()]

,Station ID,First Date,Last Date,Altitude,Latitude,Longitude,Station Name,Federal State,min,max
1351,807,NaT,NaT,NaN,NaN,NaN,NaN,NaN,1941-01-01,2002-08-28
1352,833,NaT,NaT,NaN,NaN,NaN,NaN,NaN,1972-05-01,2001-04-30
1353,1093,NaT,NaT,NaN,NaN,NaN,NaN,NaN,1951-01-01,2005-10-31
1354,2409,NaT,NaT,NaN,NaN,NaN,NaN,NaN,1941-01-01,1953-12-31

In [14]:
# drop the 4 stations above which are not in the station list and stations without data from df_weather_stations
df_weather_stations = pd.merge(df_weather_stations,station_dates,on='Station ID',how='inner')
df_weather_stations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1246 entries, 0 to 1245
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Station ID     1246 non-null   int64
 1   First Date     1246 non-null   datetime64[ns]
 2   Last Date      1246 non-null   datetime64[ns]
 3   Altitude       1246 non-null   int64
 4   Latitude       1246 non-null   float64
 5   Longitude      1246 non-null   float64
 6   Station Name   1246 non-null   object
 7   Federal State  1246 non-null   object
 8   min            1246 non-null   object
 9   max            1246 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(2), object(4)
memory usage: 107.1+ KB

In [71]:
# Check if there are stations where the first and last measurements are incorrect
df_weather_stations['min'] = pd.to_datetime(df_weather_stations['min'])
df_weather_stations['max'] = pd.to_datetime(df_weather_stations['max'])
df_weather_stations['First Date New'] = df_weather_stations.apply(lambda x: x['First Date'] if x['First Date'] == x['min'] else np.nan, axis = 1)
df_weather_stations['Last Date New'] = df_weather_stations.apply(lambda x: x['Last Date'] if x['Last Date'] == x['max'] else np.nan, axis = 1)
yesterday = (datetime.datetime.today() - datetime.timedelta(days=1)).strftime ('%Y-%m-%d')
df_weather_stations[~(df_weather_stations['Last Date'] == yesterday)  & (df_weather_stations['First Date New'].isnull() | df_weather_stations['Last Date New'].isnull())]

,Station ID,First Date,Last Date,Altitude,Latitude,Longitude,Station Name,Federal State,min,max,First Date New,Last Date New
4,52,1969-01-01,2001-12-31,46,53.6623,10.1990,Ahrensburg-Wulfsdorf,Schleswig-Holstein,1973-01-01,2001-12-31,NaT,2001-12-31
15,98,1887-02-15,1954-12-31,780,51.1890,8.4671,Altastenberg,Nordrhein-Westfalen,1887-02-15,1954-12-06,1887-02-15,NaT
35,181,1999-11-01,2008-11-02,30,52.8761,11.5042,Arendsee,Sachsen-Anhalt,2004-08-25,2008-11-02,NaT,2008-11-02
55,268,1954-01-01,2008-12-31,622,48.5293,8.2727,Baiersbronn-Obertal,Baden-Württemberg,1954-01-01,1972-01-31,1954-01-01,NaT
71,348,1989-12-14,2011-09-01,127,50.4135,7.5886,Bendorf,Rheinland-Pfalz,1989-12-15,2011-09-01,NaT,2011-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...
1198,13886,1937-04-01,1972-09-30,250,50.7000,11.6000,Pößneck,Thüringen,1937-04-01,1942-09-30,1937-04-01,NaT
1224,15926,1951-01-01,1955-10-20,370,49.3410,12.1330,Fronberg (Schwandorf),Bayern,1951-01-01,1955-10-19,1951-01-01,NaT
1225,15951,1976-04-01,2004-08-31,280,49.2121,7.5882,Pirmasens (Kläranlage),Rheinland-Pfalz,1976-07-01,2004-08-31,NaT,2004-08-31
1228,15965,1969-05-01,1984-08-31,350,50.3102,9.7838,"Brückenau, Bad (Elisabethenhof",Bayern,1971-05-01,1984-08-31,NaT,1984-08-31
1245,19631,1881-06-01,1969-12-31,268,50.8083,10.2294,Salzungen,Thüringen,1948-05-01,1969-12-31,NaT,1969-12-31

In [72]:
df_weather_stations[35:56]

,Station ID,First Date,Last Date,Altitude,Latitude,Longitude,Station Name,Federal State,min,max,First Date New,Last Date New
35,181,1999-11-01,2008-11-02,30,52.8761,11.5042,Arendsee,Sachsen-Anhalt,2004-08-25,2008-11-02,NaT,2008-11-02
36,183,1947-01-01,2023-08-16,42,54.6791,13.4344,Arkona,Mecklenburg-Vorpommern,1947-01-01,2023-08-14,1947-01-01,NaT
37,184,1947-01-01,1966-06-30,55,52.6769,12.0077,Arneburg,Sachsen-Anhalt,1947-01-01,1966-06-30,1947-01-01,1966-06-30
38,185,1946-01-01,1957-12-31,3,54.6289,9.9294,Arnis,Schleswig-Holstein,1946-01-01,1957-12-31,1946-01-01,1957-12-31
39,186,1880-01-01,1998-09-30,218,51.3773,8.0713,Arnsberg,Nordrhein-Westfalen,1880-01-01,1998-09-30,1880-01-01,1998-09-30
40,191,1986-04-01,2023-08-16,217,49.9694,9.9114,Arnstein-Müdesheim,Bayern,1986-04-01,2023-08-14,1986-04-01,NaT
41,193,1968-01-01,1997-10-31,232,51.3845,9.0820,Arolsen-Neu Berich,Hessen,1968-01-01,1997-10-31,1968-01-01,1997-10-31
42,197,1990-08-01,2023-08-16,365,51.3219,9.0558,"Arolsen-Volkhardinghausen, Bad",Hessen,1990-08-01,2023-08-14,1990-08-01,NaT
43,198,1954-01-01,2023-08-16,164,51.3744,11.2920,Artern,Thüringen,1954-01-01,2023-08-14,1954-01-01,NaT
44,202,1947-01-01,1951-12-31,111,49.9771,9.1091,Aschaffenburg,Bayern,1947-01-01,1951-12-31,1947-01-01,1951-12-31
45,207,1947-01-01,1964-12-31,105,51.7498,11.4667,Aschersleben,Sachsen-Anhalt,1947-01-01,1964-12-31,1947-01-01,1964-12-31
46,211,1981-09-01,1999-12-31,200,50.5800,8.4685,Aßlar Klein-Altenstädten,Hessen,1981-09-01,1999-12-31,1981-09-01,1999-12-31
47,217,1941-01-01,2023-08-16,670,47.8774,11.3643,Attenkam,Bayern,1941-01-01,2023-08-14,1941-01-01,NaT
48,221,1985-08-01,1990-05-31,483,48.5515,11.7117,Au i.d.Hallertau-Günzenhausen,Bayern,1985-08-01,1990-05-31,1985-08-01,1990-05-31
49,222,1977-01-01,2023-08-16,393,50.5908,12.7139,Aue,Sachsen,1977-01-01,2023-08-14,1977-01-01,NaT
50,231,1879-01-01,1974-04-30,490,48.3723,10.8948,Augsburg (Sankt Stephan),Bayern,1879-01-01,1974-04-30,1879-01-01,1974-04-30
51,232,1947-01-01,2023-08-16,462,48.4253,10.9417,Augsburg,Bayern,1947-01-01,2023-08-14,1947-01-01,NaT
52,243,1958-09-01,2006-12-31,4,53.4621,7.4670,Aurich,Niedersachsen,1958-09-01,2006-12-31,1958-09-01,2006-12-31
53,257,1949-01-01,2023-08-16,240,48.7270,8.2457,Baden-Baden-Geroldsau,Baden-Württemberg,1949-01-01,2023-08-14,1949-01-01,NaT
54,259,1947-01-01,2023-08-16,275,47.8064,7.6387,Müllheim,Baden-Württemberg,1947-01-01,2023-08-14,1947-01-01,NaT
55,268,1954-01-01,2008-12-31,622,48.5293,8.2727,Baiersbronn-Obertal,Baden-Württemberg,1954-01-01,1972-01-31,1954-01-01,NaT

There are 79 stations with an incorrect first and last measurement date. I have ignored stations with a 'Last Date' equal to yesterday because of different as at dates of the data sets.

In [82]:
# correct 'First Date' and 'Last Date'
df_weather_stations['First Date New'] = df_weather_stations['min']
index = df_weather_stations[~(df_weather_stations['Last Date'] == yesterday) & (df_weather_stations['Last Date New'].isnull())].index.values.tolist()
#df_weather_stations['Last Date New'][index] = df_weather_stations['max'][index]
yesterday = (datetime.datetime.today() - datetime.timedelta(days=1)).strftime ('%Y-%m-%d')
df_weather_stations['Last Date New'] = df_weather_stations.apply(lambda x: x['Last Date'] if x['Last Date'] != '2023-08-16'  else 'test', axis = 1)
df_weather_stations[35:56]

,Station ID,First Date,Last Date,Altitude,Latitude,Longitude,Station Name,Federal State,min,max,First Date New,Last Date New
35,181,1999-11-01,2008-11-02,30,52.8761,11.5042,Arendsee,Sachsen-Anhalt,2004-08-25,2008-11-02,2004-08-25,2008-11-02
36,183,1947-01-01,2023-08-16,42,54.6791,13.4344,Arkona,Mecklenburg-Vorpommern,1947-01-01,2023-08-14,1947-01-01,2023-08-16
37,184,1947-01-01,1966-06-30,55,52.6769,12.0077,Arneburg,Sachsen-Anhalt,1947-01-01,1966-06-30,1947-01-01,1966-06-30
38,185,1946-01-01,1957-12-31,3,54.6289,9.9294,Arnis,Schleswig-Holstein,1946-01-01,1957-12-31,1946-01-01,1957-12-31
39,186,1880-01-01,1998-09-30,218,51.3773,8.0713,Arnsberg,Nordrhein-Westfalen,1880-01-01,1998-09-30,1880-01-01,1998-09-30
40,191,1986-04-01,2023-08-16,217,49.9694,9.9114,Arnstein-Müdesheim,Bayern,1986-04-01,2023-08-14,1986-04-01,2023-08-16
41,193,1968-01-01,1997-10-31,232,51.3845,9.0820,Arolsen-Neu Berich,Hessen,1968-01-01,1997-10-31,1968-01-01,1997-10-31
42,197,1990-08-01,2023-08-16,365,51.3219,9.0558,"Arolsen-Volkhardinghausen, Bad",Hessen,1990-08-01,2023-08-14,1990-08-01,2023-08-16
43,198,1954-01-01,2023-08-16,164,51.3744,11.2920,Artern,Thüringen,1954-01-01,2023-08-14,1954-01-01,2023-08-16
44,202,1947-01-01,1951-12-31,111,49.9771,9.1091,Aschaffenburg,Bayern,1947-01-01,1951-12-31,1947-01-01,1951-12-31
45,207,1947-01-01,1964-12-31,105,51.7498,11.4667,Aschersleben,Sachsen-Anhalt,1947-01-01,1964-12-31,1947-01-01,1964-12-31
46,211,1981-09-01,1999-12-31,200,50.5800,8.4685,Aßlar Klein-Altenstädten,Hessen,1981-09-01,1999-12-31,1981-09-01,1999-12-31
47,217,1941-01-01,2023-08-16,670,47.8774,11.3643,Attenkam,Bayern,1941-01-01,2023-08-14,1941-01-01,2023-08-16
48,221,1985-08-01,1990-05-31,483,48.5515,11.7117,Au i.d.Hallertau-Günzenhausen,Bayern,1985-08-01,1990-05-31,1985-08-01,1990-05-31
49,222,1977-01-01,2023-08-16,393,50.5908,12.7139,Aue,Sachsen,1977-01-01,2023-08-14,1977-01-01,2023-08-16
50,231,1879-01-01,1974-04-30,490,48.3723,10.8948,Augsburg (Sankt Stephan),Bayern,1879-01-01,1974-04-30,1879-01-01,1974-04-30
51,232,1947-01-01,2023-08-16,462,48.4253,10.9417,Augsburg,Bayern,1947-01-01,2023-08-14,1947-01-01,2023-08-16
52,243,1958-09-01,2006-12-31,4,53.4621,7.4670,Aurich,Niedersachsen,1958-09-01,2006-12-31,1958-09-01,2006-12-31
53,257,1949-01-01,2023-08-16,240,48.7270,8.2457,Baden-Baden-Geroldsau,Baden-Württemberg,1949-01-01,2023-08-14,1949-01-01,2023-08-16
54,259,1947-01-01,2023-08-16,275,47.8064,7.6387,Müllheim,Baden-Württemberg,1947-01-01,2023-08-14,1947-01-01,2023-08-16
55,268,1954-01-01,2008-12-31,622,48.5293,8.2727,Baiersbronn-Obertal,Baden-Württemberg,1954-01-01,1972-01-31,1954-01-01,2008-12-31

In [62]:
df_weather_stations.dtypes

Station ID                 int64
First Date        datetime64[ns]
Last Date         datetime64[ns]
Altitude                   int64
Latitude                 float64
Longitude                float64
Station Name              object
Federal State             object
min               datetime64[ns]
max               datetime64[ns]
First Date New    datetime64[ns]
Last Date New             object
dtype: object